@import 'config';
@import 'theme';

// Including themes
// By looping through the $themes map
@each $key, $value in $themes {
  @include theme($key, $value);
}


// Default styles
.controls > button {
  border: none;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  margin-bottom: .5em;
  margin-left: 3px;
  float: right;
}


body {
  padding: 1em;
}
