@import 'config';
@import 'theme';
@import 'sprites';


// Including themes
// By looping through the $themes map
@each $key, $value in $themes {
  @include theme($key, $value);
}


// Default styles
.controls > button {
  border: none;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  margin-bottom: .5em;
  margin-left: 3px;
  float: right;
}

.navbar-inverse {
  background-color: #F0AD4E;
  border-color: #080808;
}

.navbar-inverse .navbar-nav>li>a {
  color: #262626;
}

.navbar-inverse .navbar-brand {
  color: #262626;
  font-weight: bold;
}



body {
  padding: 1em;
}
