// Helper theme mixin
// @param $name: name of the theme (HTML class)
// @param $color: color of the theme
@mixin theme($name, $color) {
  .#{$name} {
    .component{
      border-color: darken($color, 10%);
    }

    .component__heading {
      color: $color;
    }

    .navbar-inverse {
      background-color: $color;
      @if $name == "banana" {
        background-image: url("http://www.themesltd.com/headers2/banana_on_the_run.png");
        background-size: cover;
      }
    }

    .navbar-inverse .navbar-nav>li>a {
      @if $name == "banana" {
        font-size: 18px;
      }@else if $name == "grandpa" {
        font-size: $font-size * 2.5;
      }

      &:hover {
        background: darken($color, 10%);
        color: rgb(255, 253, 248);
      }
    }

    .container{
      @if $name == "grandpa" {
        font-size: x-large;
      }
    }

    h1 {
      color: $color;
      @if $name == "grandpa" {
        font-size: $font-size * 5;
      }
    }
  }

  [data-theme='#{$name}'] {
    background: $color;

    &:hover {
      background: darken($color, 10%);
    }

    &[disabled] {
      background: desaturate($color, 40%);
    }
  }
}