<div class="text-center">
    <div style="
				position: absolute;
				left: 20%;
				top: 170px;"
		z-index="-1"
	>

		<div
			style="position:absolute;"
			ng-repeat="tileObject in gdCtrl.tiles"
			ng-if="tileObject.match.foundBy == undefined"
			class="sprite sprite-{{tileObject.tile.suit + tileObject.tile.name | lowercase}}"
			ng-style="{'left': tileObject.left, 'top': tileObject.top, 'z-index': tileObject.zPos}"
			ng-click="gdCtrl.selectTile(tileObject)">
		</div>
	</div>

	<div
		ng-if="gdCtrl.game.state == 'finished'"
		style="width:300px;text-align:center; font-size:20px;background-color:lightgray;position:absolute;margin:0 auto;top:150px;">
		No more matches possible!
	</div>
</div>