<div class="text-center">
    <h1>Games</h1>
    <div class="alert alert-success" ng-if="gCtrl.succesMessage != ''">
        {{ gCtrl.succesMessage }}
    </div>
    <div class="alert alert-danger"  ng-if="gCtrl.errorMessage != ''">
        {{ gCtrl.errorMessage }}
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:''}">All</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'open'}">Open</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'playing'}">Playing</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'finished'}">Finished</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-show="gCtrl.currentUser != undefined"  ng-click="myFilter={players: {_id: gCtrl.currentUser}}">MyGames ({{gCtrl.currentUser}})</button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Gemaakt door:</th>
            <th>Min spelers</th>
            <th>Max spelers</th>
            <th>Spelers</th>
            <th>Status</th>
            <th>Actie</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in gCtrl.games | filter: myFilter">
            <td>{{ game.createdBy.name }}</td>
            <td>{{ game.minPlayers }}</td>
            <td>{{ game.maxPlayers }}</td>
            <td><a ui-sref="gameDetails({id:game._id})"> {{ game.players.length }}</a></td>
            <td>{{ game.state }}</td>
            <td>
                <button ng-show="gCtrl.canJoinGame(game)"  class="btn btn-warning"  ng-click="gCtrl.joinGame(game)">Join</button>
                <button ng-show="gCtrl.canPlayGame(game)"  class="btn btn-info"   ui-sref="game({id:game._id})">Play</button>
                <button ng-show="gCtrl.canStartGame(game)" class="btn btn-success"  ng-click="gCtrl.startGame(game)">Start</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>