<div class="text-center">
    <div style="float: left;">
    <h3>Players in Game</h3>
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="player in gdCtrl.players">
                <td>{{ player._id }}</td>
                <td>{{ player.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="float: right;">
        <h3>Matches</h3>
        <div class="row">
            <div class="col">
                <label class="item item-input">
                    <input type="text" ng-model="searchText">
                </label>
            </div>
        </div>

        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="match in gdCtrl.matches | filter:searchText">
                <td><div class="sprite sprite-{{match.tile1.suit + match.tile1.name | lowercase}}"></div></td>
                <td><div class="sprite sprite-{{match.tile2.suit + match.tile2.name | lowercase}}"></div></td>
                <td>{{match.player.foundBy}}</br>{{match.player.foundOn}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
