<div class="jumbotron text-center">
    <div style="float: left;">
        <h1>Matched Tiles</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Match</th>
                <th>Matched by</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="match in gc.GameFactory.matches">
                <td><div class="tile {{match.tile.suit}}{{match.tile.name}}"></div>{{match.tile.id}}</td>
                <td>{{match.player.foundBy}}</br>{{match.player.foundOn}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="float: right;">
        <h1>Tiles</h1>

        <table ng-if="gc.getRows() != undefined" class="table table-striped">
            <tbody>
            <tr ng-repeat="row in gc.getRows()">
                <td>{{ row }} :</td>
                <td ng-repeat="column in gc.getColumns()">{{ column }}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>xPos</th>
                <th>yPos</th>
                <th>zPos</th>
                <th>tile.id</th>
                <th>tile.matchesWholeSuit</th>
                <th>tile.name</th>
                <th>tile.suit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tile in gc.GameFactory.tiles">
                <td>{{ tile.xPos }}</td>
                <td>{{ tile.yPos }}</td>
                <td>{{ tile.zPos }}</td>
                <td>{{ tile.tile.id }}</td>
                <td>{{ tile.tile.matchesWholeSuit }}</td>
                <td>{{ tile.tile.name }}</td>
                <td>{{ tile.tile.suit }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
