<div class="text-center">
    <h1>Games</h1>
    <div class="alert alert-success" ng-if="gc.succesMessage != ''">
        {{ gc.succesMessage }}
    </div>
    <div class="alert alert-danger"  ng-if="gc.errorMessage != ''">
        {{ gc.errorMessage }}
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:''}">All</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'open'}">Open</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'playing'}">Playing</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'finished'}">Finished</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button"  class="btn btn-primary" ng-click="myFilter={players: {_id: gc.currentUser}}">MyGames ({{gc.currentUser}})</button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Gemaakt door:</th>
            <th>Min spelers</th>
            <th>Max spelers</th>
            <th>Spelers</th>
            <th>Status</th>
            <th>Actie</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in gc.GameFactory.games | filter: myFilter">
            <td>{{ game.createdBy.name }}</td>
            <td>{{ game.minPlayers }}</td>
            <td>{{ game.maxPlayers }}</td>
            <td><a ui-sref="gameDetails" href ng-click="gc.getGameDetails(game)"> {{ game.players.length }}</a></td>
            <td>{{ game.state }}</td>
            <td>
                <button class="btn btn-warning" ng-if="gc.canJoinGame(game)" ng-click="gc.joinGame(game)">Join</button>
                <button class="btn btn-info" ui-sref="game.board"  ng-if="game.state != 'open'" ng-click="gc.getGameDetails(game)">Play</button>
                <button class="btn btn-success" ng-if="gc.canStartGame(game)" ng-click="gc.startGame(game)">Start</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>