<div class="jumbotron text-center">
    <h1>Games</h1>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:''}">All</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'open'}">Open</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'playing'}">Playing</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" ng-click="myFilter={state:'finished'}">Finished</button>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>GameId</th>
            <th>Min spelers</th>
            <th>Max spelers</th>
            <th>Spelers</th>
            <th>Status</th>
            <th>Actie</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in gc.GameFactory.games | filter: myFilter">
            <td>{{ game.id }}</td>
            <td>{{ game.minPlayers }}</td>
            <td>{{ game.maxPlayers }}</td>
            <td>{{ game.players.length }}</td>
            <td>{{ game.state }}</td>
            <td>
                <button ng-if="gc.canJoin(game)" ng-click="gc.join(game)">Join</button>
                <button ng-if="gc.allowedToSeeTiles(game)" ng-click="gc.getTiles(game)">Get Tiles</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div style="float:left; margin-left:50px; width:500px;">
    <h1>Tiles</h1>

    <table ng-if="gc.getRows() != undefined">
        <tbody>
        <tr ng-repeat="row in gc.getRows()">
            <td>{{ row }} :</td>
            <td ng-repeat="column in gc.getColumns()">{{ column }}</td>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th>xPos</th>
            <th>yPos</th>
            <th>zPos</th>
            <th>tile.id</th>
            <th>tile.matchesWholeSuit</th>
            <th>tile.name</th>
            <th>tile.suit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tile in gc.GameFactory.tiles">
            <td>{{ tile.xPos }}</td>
            <td>{{ tile.yPos }}</td>
            <td>{{ tile.zPos }}</td>
            <td>{{ tile.tile.id }}</td>
            <td>{{ tile.tile.matchesWholeSuit }}</td>
            <td>{{ tile.tile.name }}</td>
            <td>{{ tile.tile.suit }}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>